.swipeButtons {
    position: fixed;
    bottom: 2vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__repeat {
    padding: 3vw !important;
    color: orange !important;
}

.swipeButtons__left {
    padding: 3vw !important;
    color: palevioletred !important;
}
.swipeButtons__star {
    padding: 3vw !important;
    color: rgb(0, 174, 255)  !important;
}
.swipeButtons__right {
    padding: 3vw !important;
    color: rgb(0, 128, 90) !important;
}
.swipeButtons__lightning {
    padding: 3vw !important;
    color: rgb(107, 0, 128) !important;
}